#snake {
  stroke: black;
}

#userid {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

#userid2 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

#apple_container {
  width: 100%;
  height: 100%;
}

.objects {
  width: 100%;
  height: auto;
}